.delete-confirmation-wrapper {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -200px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background: white;
    border-radius: 9px;
    padding: 2rem;
    border: 3px solid #60B0F4;
    z-index: 3;
    .confirmation-info {
        text-align: center;
        h2 {
            font-size: 1.3rem;
            margin-top: 0;
        }
    }  
    
    .confirmation-buttons {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        .green {
            background: #77EE62;
            border: 1px solid #71E05D;
        }

        .green:hover {
            background: #71E05D;
            cursor: pointer;
        }

        .red {
            background: #F04B4B;
            border: 3px solid #E73D3D;
        }

        .red:hover {
            background: #E73D3D;
            cursor: pointer;
        }
        button {
            border: none;
            color: white;
            padding: .5rem 1rem;
            margin-left: 1rem;
            font-weight: bold;
            font-size: 1rem;
            outline: none;
        }
    }
}

.employee-adder-wrapper {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -320px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background: white;
    border-radius: 9px;
    padding: 3rem;
    border: 3px solid #60B0F4;
    z-index: 3;

    h2 {
        margin-top: 0;
        color: var(--main-color);
    }

    .adder-content {
        display: flex;
        flex-direction: column;

        span {
            font-weight: bold;
            margin-top: 1rem;
        }

        input{
            width: 100%;
            resize: none;
            padding: .5rem;     
            outline: none;
            border-color: var(--main-color);
        }
        p {
            font-size: .8rem;
            color: red;
            margin-top: .2rem;
        }
    }

    .employee-adder-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .green {
            background: #77EE62;
            border: 1px solid #71E05D;
        }

        .green:hover {
            background: #71E05D;
            cursor: pointer;
        }

        .red {
            background: #F04B4B;
            border: 3px solid #E73D3D;
        }

        .red:hover {
            background: #E73D3D;
            cursor: pointer;
        }

        button {
            border: none;
            color: white;
            padding: .5rem 1rem;
            margin-left: 1rem;
            font-weight: bold;
            font-size: 1rem;
            outline: none;
        }
    }
}

.ManageWrapper {
    width: 1000px;
    margin: 0 auto;
    h2 {
        background: var(--main-color);
        color: white;
        padding: 1rem;
        margin: 2rem 0 0 0;
    }
    p {
        margin: 0;
    }
    
    .ManageListInteractive {
        display: flex;
        background: white;
        padding: 1rem;
        justify-content: space-between;
        font-weight: bold;
        .addEmployee {
            display: flex;
            font-weight: bold;
            color: var(--main-color);
            align-items: center;
            svg {
                height: 1.6rem;
                width: 1.6rem;
            }

            p {
                font-size: .9rem;
                margin-left: .5rem;
            }
        }

        .addEmployee:hover {
            cursor: pointer;

            svg {
                color: var(--main-hover-color);
            }

            p {
                color: var(--main-hover-color);
            }
        }
    }

    .linkedRow {
        text-decoration: none;
        
    }
    
    .ManageListColumn {
        display: flex;
        background: white;

        div {
            padding: 1rem 0 1rem 1rem;
            color: var(--text-color);
        }

        .columnID {
            width: 20%;
        }
        .columnName {
            width: 30%;
        }
        .columnPosition {
            width: 30%;
        }
        .columnIcons {
            width: 20%;
            display: flex;
            justify-content: flex-end;

            div {
                padding: 0;
                border: none;
            }

            .plus {
                color: var(--main-color);
                z-index: 10;
            }

            .plus:hover {
                color: var(--main-hover-color);
                transform: scale(1.1); 
            }

            .trash {
                margin-left: 1.5rem;
                margin-right: 1rem;
                z-index: 10;
                color: var(--text-color);
            }

            .trash:hover {
                color: #4e4e4f;
                transform: scale(1.1); 
            }
            svg {
                height: 1.5rem;
                width: 1.5rem;
            }

            svg:hover {
                cursor: pointer;
            }
        }
    }

    .Title {
        
        background: ghostwhite;
        border-right:  4px solid #b8babc;
        border-left: none;

        div {
            font-weight: bold;
            border-right:  3px solid #b8babc;   
        }
        .columnID {
            border-left:  4px solid #b8babc;
        }

    }

    .Employee {
        border-right: 4px solid #dbdbdb;
        border-top: none;
        div {
            border-right: 3px solid #efefef;
        }
        .columnID {
            border-left:  4px solid #dbdbdb;
        }
    }

    .Employee:hover {
        background: ghostwhite;
        cursor: pointer;
    }
}