.delete-confirmation-wrapper {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  /* Negative half of height. */
  margin-left: -250px;
  /* Negative half of width. */
  background: white;
  border-radius: 9px;
  padding: 2rem;
  border: 3px solid #60B0F4;
  z-index: 3; }
  .delete-confirmation-wrapper .confirmation-info {
    text-align: center; }
    .delete-confirmation-wrapper .confirmation-info h2 {
      font-size: 1.3rem;
      margin-top: 0; }
  .delete-confirmation-wrapper .confirmation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem; }
    .delete-confirmation-wrapper .confirmation-buttons .green {
      background: #77EE62;
      border: 1px solid #71E05D; }
    .delete-confirmation-wrapper .confirmation-buttons .green:hover {
      background: #71E05D;
      cursor: pointer; }
    .delete-confirmation-wrapper .confirmation-buttons .red {
      background: #F04B4B;
      border: 3px solid #E73D3D; }
    .delete-confirmation-wrapper .confirmation-buttons .red:hover {
      background: #E73D3D;
      cursor: pointer; }
    .delete-confirmation-wrapper .confirmation-buttons button {
      border: none;
      color: white;
      padding: .5rem 1rem;
      margin-left: 1rem;
      font-weight: bold;
      font-size: 1rem;
      outline: none; }

.employee-adder-wrapper {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -320px;
  /* Negative half of height. */
  margin-left: -250px;
  /* Negative half of width. */
  background: white;
  border-radius: 9px;
  padding: 3rem;
  border: 3px solid #60B0F4;
  z-index: 3; }
  .employee-adder-wrapper h2 {
    margin-top: 0;
    color: var(--main-color); }
  .employee-adder-wrapper .adder-content {
    display: flex;
    flex-direction: column; }
    .employee-adder-wrapper .adder-content span {
      font-weight: bold;
      margin-top: 1rem; }
    .employee-adder-wrapper .adder-content input {
      width: 100%;
      resize: none;
      padding: .5rem;
      outline: none;
      border-color: var(--main-color); }
    .employee-adder-wrapper .adder-content p {
      font-size: .8rem;
      color: red;
      margin-top: .2rem; }
  .employee-adder-wrapper .employee-adder-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; }
    .employee-adder-wrapper .employee-adder-buttons .green {
      background: #77EE62;
      border: 1px solid #71E05D; }
    .employee-adder-wrapper .employee-adder-buttons .green:hover {
      background: #71E05D;
      cursor: pointer; }
    .employee-adder-wrapper .employee-adder-buttons .red {
      background: #F04B4B;
      border: 3px solid #E73D3D; }
    .employee-adder-wrapper .employee-adder-buttons .red:hover {
      background: #E73D3D;
      cursor: pointer; }
    .employee-adder-wrapper .employee-adder-buttons button {
      border: none;
      color: white;
      padding: .5rem 1rem;
      margin-left: 1rem;
      font-weight: bold;
      font-size: 1rem;
      outline: none; }

.ManageWrapper {
  width: 1000px;
  margin: 0 auto;
  padding-top: 8rem; }
  .ManageWrapper h2 {
    background: var(--main-color);
    color: white;
    padding: 1rem;
    margin: 2rem 0 0 0; }
  .ManageWrapper p {
    margin: 0; }
  .ManageWrapper .ManageListContainer {
    background: white;
    margin-bottom: 5rem;
    border-bottom: 1rem solid var(--main-color); }
  .ManageWrapper .ManageListInteractive {
    display: flex;
    background: white;
    padding: 1rem;
    justify-content: space-between;
    font-weight: bold; }
    .ManageWrapper .ManageListInteractive .addEmployee {
      display: flex;
      font-weight: bold;
      color: var(--main-color);
      align-items: center; }
      .ManageWrapper .ManageListInteractive .addEmployee svg {
        height: 1.6rem;
        width: 1.6rem; }
      .ManageWrapper .ManageListInteractive .addEmployee p {
        font-size: .9rem;
        margin-left: .5rem; }
    .ManageWrapper .ManageListInteractive .addEmployee:hover {
      cursor: pointer; }
      .ManageWrapper .ManageListInteractive .addEmployee:hover svg {
        color: var(--main-hover-color); }
      .ManageWrapper .ManageListInteractive .addEmployee:hover p {
        color: var(--main-hover-color); }
  .ManageWrapper .linkedRow {
    text-decoration: none; }
  .ManageWrapper .ManageListColumn {
    display: flex;
    background: white; }
    .ManageWrapper .ManageListColumn div {
      padding: 1rem 0 1rem 1rem;
      color: var(--text-color); }
    .ManageWrapper .ManageListColumn .columnID {
      width: 20%; }
    .ManageWrapper .ManageListColumn .columnName {
      width: 30%; }
    .ManageWrapper .ManageListColumn .columnPosition {
      width: 30%; }
    .ManageWrapper .ManageListColumn .columnIcons {
      width: 20%;
      display: flex;
      justify-content: flex-end; }
      .ManageWrapper .ManageListColumn .columnIcons div {
        padding: 0;
        border: none; }
      .ManageWrapper .ManageListColumn .columnIcons .plus {
        color: var(--main-color);
        z-index: 10; }
      .ManageWrapper .ManageListColumn .columnIcons .plus:hover {
        color: var(--main-hover-color);
        transform: scale(1.1); }
      .ManageWrapper .ManageListColumn .columnIcons .trash {
        margin-left: 1.5rem;
        margin-right: 1rem;
        z-index: 10;
        color: var(--text-color); }
      .ManageWrapper .ManageListColumn .columnIcons .trash:hover {
        color: #4e4e4f;
        transform: scale(1.1); }
      .ManageWrapper .ManageListColumn .columnIcons svg {
        height: 1.5rem;
        width: 1.5rem; }
      .ManageWrapper .ManageListColumn .columnIcons svg:hover {
        cursor: pointer; }
  .ManageWrapper .Title {
    background: ghostwhite;
    border-right: 4px solid #b8babc;
    border-left: none; }
    .ManageWrapper .Title div {
      font-weight: bold;
      border-right: 3px solid #b8babc; }
    .ManageWrapper .Title .columnID {
      border-left: 4px solid #b8babc; }
  .ManageWrapper .Employee {
    border-right: 4px solid #dbdbdb;
    border-top: none; }
    .ManageWrapper .Employee div {
      border-right: 3px solid #efefef; }
    .ManageWrapper .Employee .columnID {
      border-left: 4px solid #dbdbdb; }
  .ManageWrapper .Employee:hover {
    background: ghostwhite;
    cursor: pointer; }

.User-Homepage-Container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 8rem; }
  .User-Homepage-Container h2 {
    margin: 0;
    font-size: 2rem; }
  .User-Homepage-Container .Shifts-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    color: white;
    padding: .8rem 2rem; }
  .User-Homepage-Container .Shifts-List {
    background: white;
    min-height: 40rem; }
    .User-Homepage-Container .Shifts-List p {
      margin: 0; }
    .User-Homepage-Container .Shifts-List input {
      width: 90px;
      text-align: center;
      padding: .5rem;
      margin: 0 1rem 0 .7rem; }
    .User-Homepage-Container .Shifts-List .react-datepicker-wrapper .react-datepicker-popper .react-datepicker--time-only div {
      width: 110px !important; }
    .User-Homepage-Container .Shifts-List .react-datepicker-wrapper .react-datepicker-popper .react-datepicker--time-only .react-datepicker__time-box {
      width: 100px !important; }
    .User-Homepage-Container .Shifts-List .Shifts-Row {
      display: flex;
      padding: 1rem 2rem 1rem 0rem;
      align-items: center;
      border-bottom: 1px solid var(--main-color); }
      .User-Homepage-Container .Shifts-List .Shifts-Row span {
        font-weight: bold;
        font-size: 1.3rem;
        margin-left: 1rem; }
      .User-Homepage-Container .Shifts-List .Shifts-Row p {
        font-size: 1.1rem;
        margin: 0 1rem 0 .7rem; }
      .User-Homepage-Container .Shifts-List .Shifts-Row svg {
        height: 1.3rem;
        width: 1.3rem;
        color: white;
        padding-top: .2rem; }
      .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons {
        margin-left: auto; }
        .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons button {
          border: 0;
          color: white;
          font-weight: bold;
          margin-left: auto; }
        .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons button:hover {
          cursor: pointer; }
        .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons .Active-Button {
          background: #F0AD4B;
          padding: 1rem 1rem; }
        .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons .Active-Button:hover {
          background: #F1A535; }
        .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons .Add-Button {
          background: #77EE62;
          padding: 1rem 1.2rem; }
        .User-Homepage-Container .Shifts-List .Shifts-Row .Row-Buttons .Add-Button:hover {
          background: #71E05D; }
      .User-Homepage-Container .Shifts-List .Shifts-Row .num {
        margin: 0;
        padding: 0 2rem;
        border-right: 3px solid var(--main-color);
        font-weight: bold; }

.Owner-Homepage-Container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 8rem; }
