.ManageListInteractive {
    display: flex;
    background: white;
    padding: 1rem;
    justify-content: space-between;
    font-weight: bold;
    .addItem {
        display: flex;
        font-weight: bold;
        color: var(--main-color);
        align-items: center;
        svg {
            height: 1.6rem;
            width: 1.6rem;
        }

        p {
            font-size: 1rem;
            margin-left: .5rem;
        }
    }

    .addItem:hover {
        cursor: pointer;

        svg {
            color: var(--main-hover-color);
        }

        p {
            color: var(--main-hover-color);
        }
    }
}

.delete-container {
    width: 35rem;
    background: white;
    padding: 2rem 2rem;
    border: 4px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    .confirmation-info {
        text-align: center;
        h2 {
            font-size: 1.3rem;
            margin-top: 0;
            background: none;
            color: var(--text-color);
        }
    }       

}
    

.confirmation-buttons {
    display: flex;
    justify-content: flex-end;

    margin-top: 3rem;
    .green {
        background: #77EE62;
        border: 1px solid #71E05D;
    }

    .green:hover {
        background: #71E05D;
        cursor: pointer;
    }

    .red {
        background: #F04B4B;
        border: 3px solid #E73D3D;
    }

    .red:hover {
        background: #E73D3D;
        cursor: pointer;
    }

    button {
        border: none;
        color: white;
        padding: .5rem 1rem;
        margin-left: 1rem;
        font-weight: bold;
        font-size: 1rem;
        outline: none;
    }
}

.adder-content {
    display: flex;
    flex-direction: column;

    span {
        font-weight: bold;
        margin-top: 1rem;
    }

    input{
        width: 100%;
        resize: none;
        padding: .5rem;     
        outline: none;
        border-color: none;
    }
    p {
        font-size: .8rem;
        color: red;
        margin-top: .2rem;
    }
}

.ManageWrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 8rem;

    h2 {
        background: var(--main-color);
        color: white;
        padding: 1rem;
        margin: 2rem 0 0 0;
    }
    p {
        margin: 0;
    }
    .ManageListContainer {
        background: white;
        margin-bottom: 5rem;
        border-bottom: 1rem solid var(--main-color);
    }
    
    

    .linkedRow {
        text-decoration: none;
        
    }
    
    
    .ManageListColumn {
        display: flex;
        background: white;

        div {
            padding: 1rem 0 1rem 1rem;
            color: var(--text-color);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .columnID {
            width: 20%;
        }
        .columnName {
            width: 30%;
        }
        .columnPosition {
            width: 30%;
        }
        .columnIcons {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            border-right: none;

            div {
                padding: 0;
                border: none;
            }

            .plus {
                color: var(--main-color);
                z-index: 10;
            }

            .plus:hover {
                color: var(--main-hover-color);
                transform: scale(1.1); 
            }

            .trash {
                margin-left: 1.5rem;
                margin-right: 1rem;
                z-index: 10;
                color: var(--text-color);
            }

            .trash:hover {
                color: #4e4e4f;
                transform: scale(1.1); 
            }
            svg {
                height: 1.5rem;
                width: 1.5rem;
            }

            svg:hover {
                cursor: pointer;
            }
        }
    }

    .Title {
        
        background: ghostwhite;
        border-right:  4px solid #b8babc;
        border-left: none;

        div {
            font-weight: bold;
            border-right:  3px solid #b8babc;   
        }

    }

    .Employee {
        border-right: 4px solid #dbdbdb;
        border-top: none;
        div {
            border-right: 3px solid #efefef;
        }
        
    }

    .columnID {
        border-left:  4px solid #dbdbdb;
    }

    .Employee:hover {
        background: ghostwhite;
        cursor: pointer;
    }
}

.User-Homepage-Container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 8rem;

    h2 {
        margin: 0;
        font-size: 2rem;
    }

    .Shifts-Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--main-color);
        color: white;
        padding: .8rem 2rem;
    }

    .Shifts-List {
        background: white;
        min-height: 40rem;
        border-bottom: 1rem solid var(--main-color);
        margin-bottom: 5rem;
            p {
                margin: 0;
            }

            input {
                width: 90px;
                text-align:center;
                padding: .5rem;
                margin: 0 1rem 0 .7rem
            }

            .react-datepicker-wrapper {
                
                .react-datepicker-popper {
                    .react-datepicker--time-only {
                            div {
                                width: 110px !important;
                            }
                            
                        .react-datepicker__time-box {
                            width: 100px !important;
                        }
                    }                   
                }              
            }
        .Shifts-Row {
            display: flex;
            padding: 1rem 2rem 1rem 0rem;
            align-items: center;
            border-bottom: 1px solid var(--main-color);

            span {
                font-weight: bold;
                font-size: 1.3rem;
                margin-left: 1rem;
            }

            p {
                font-size: 1.1rem;
                margin: 0 1rem 0 .7rem
            }

            svg {
                height: 1.3rem;
                width: 1.3rem;
                color: white;
                padding-top: .2rem;
            }
            .Row-Buttons {
                margin-left: auto;
                button {
                    border: 0;        
                    color: white;
                    font-weight: bold;
                    margin-left: auto;
                }
    
                button:hover {
                    cursor: pointer;
                }
    
                .Active-Button {
                    background: #F0AD4B; 
                    padding: 1rem 1rem; 
                }
    
                .Active-Button:hover {
                    background: #F1A535;
                }
    
                .Add-Button {
                    background: #77EE62;
                    padding: 1rem 1.2rem; 
                }
    
                .Add-Button:hover {
                    background: #71E05D;
                }
            }
            


            .num {
                margin: 0;
                padding: 0 2rem;
                border-right: 3px solid var(--main-color);
                font-weight: bold;
            }
        }
    }
}

.Owner-Homepage-Container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 8rem;

    .OwnerWrapper {
        border-bottom: 1rem solid var(--main-color);
    }
    

    h2 {
        background: var(--main-color);
        color: white;
        padding: 1rem;
        margin: 2rem 0 0 0;
    }
    
    .ManageListColumn {
        .row {
            background: var(--main-color);
            color: white;
            display: flex;
            justify-content: space-between;
            padding: .5rem 1rem;

            .columnIcons {
                display: flex;
                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-bottom: -5px;
                }

                .trash {
                    margin-left: 1rem;
                }
                svg:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }   
    }

    .managerRow {
        display: flex;
        padding: .5rem 1rem;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-color);
        background: white;
        .managerInfo {
            display: flex;
            span {
                margin-right: .5rem;
                font-weight: bold;
            }

            p {
                margin-right: 2rem;
            }
        }

        .times {
            color: #F04B4B;
            height: 1.5rem;
            width: 1.5rem;
        }

        .times:hover {
            color: #E73D3D;
            cursor: pointer;
            transform: scale(1.05);
        }

        
        

    }
    .manageRowFiller {
            height: 1rem;
            background: white;
    }

}