@import url('https://fonts.googleapis.com/css?family=Pacifico');
.loginWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px; /* Negative half of height. */
    margin-left: -205px; /* Negative half of width. */
    .loginContainer {
        width: 25rem;
        background: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logoWrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 6rem;
            img {
                width: 100%;
            }
            span {
                color: var(--main-color);
                font-size: 3.5rem;
                font-family: 'Pacifico', cursive;
            }
        }

        .inputWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            input {
                margin-bottom: 1rem;
                padding: 1rem;
                outline: none;
                border: none;
                
            }

            .employeeInput {
                border: 1px solid var(--main-color);
                border-radius: 4px;
            }

            .passwordInput {
                border: 1px solid var(--main-color);
                display: flex;
                border-radius: 4px;
                input {
                    border-radius: 4px;
                    width: 87%;
                    margin-bottom: 0;
                    border-right: 0;
                    padding-right: 0;
                    outline:none;
                    
                }
                .toggleEye {
                    width: 13%;
                    display: flex;
                    align-items: center;
                    background: white;
                    border-left: 0;
                    border-radius: 4px;

                    svg:hover {
                        cursor: pointer;
                    }
                }
            }

            .companyInfo {
                width: 100%;
                margin-top: 1rem;
                .companySelect {
                    .company__control {
                        border-color: var(--main-color);
                    }

                    .company__menu {
                        border-color: var(--main-color);
                    }

                    .company__input {
                        input {
                            margin-bottom: 0;
                            margin-top: .5rem;
                            margin-bottom: .5rem;
                        }
                        
                    }
                }
            }
        }

        .loginButton {
            margin-top: 2rem;
            padding: .8rem 1.3rem;
            background: var(--main-color);
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            border: none;
        }

        .loginButton:hover {
            cursor: pointer;
        }
    }
}

.Unauthorized-Container {
    width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 300px;

    h1 {
        margin: 0;
    }

    p {
        margin: .7rem 0 2rem 0;
    }
    
    a {
        font-size: 1.5rem;
        color: var(--text-color);
    }
}

.signUpWrapper {
    width: 50%;
    margin: 0 auto;
    .signUpContainer {
        background: white;
        padding: 2rem 2rem;
        .inputWrapper {
           
            display: flex;
            flex-direction: column;
            
            label {
                font-size: .7rem;
                margin-bottom: .7rem;
            }

            input {
                border: none;
                margin-bottom: 2rem;
                outline: none;
                color: rgb(51, 51, 51);
                border-bottom: 2px solid rgb(210, 210, 210);
                font-size: 1.1rem;
            }

            input:focus {
                border-bottom: 2px solid var(--main-color);
            }

            .passwordInput {
                display: flex;
                flex-direction: column;
            }

            
        }
        
        .registerButtons {
            button {
                border: none;
                padding: .5rem 2.5rem;
                border-radius: 4px;
                font-size: 1rem;
                border: 2px solid var(--main-color);
            }

            button:hover {
                cursor:pointer;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                transform: scale(1.05);
            }

            .register {
                background: var(--main-color);
                color: white;
            }

            .cancel {
                margin-left: 1rem;
                background: white;
                color: var(--main-color);
            }
        }
    }
}