@import url("https://fonts.googleapis.com/css?family=Pacifico");
h1 {
  text-align: center; }

h5 {
  margin: 0;
  color: black; }

.popupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 99999; }

.inputWrapper {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 9px;
  padding: 3rem;
  border: 4px solid #60B0F4;
  width: 30rem; }
  .inputWrapper h2 {
    margin-top: 0;
    color: var(--main-color);
    background: none; }
  .inputWrapper label {
    margin-top: 1.8rem;
    font-size: .7rem;
    margin-bottom: .7rem; }
  .inputWrapper input {
    border: none;
    outline: none;
    color: #333333;
    border-bottom: 2px solid #d2d2d2;
    font-size: 1.1rem;
    margin-bottom: .2rem; }
  .inputWrapper input:focus {
    border-bottom: 2px solid var(--main-color); }
  .inputWrapper .passwordInput {
    display: flex;
    flex-direction: column; }
    .inputWrapper .passwordInput .passwordInputInner {
      display: flex; }
      .inputWrapper .passwordInput .passwordInputInner input {
        width: 95%;
        margin-bottom: 0;
        border-right: 0;
        padding-right: 0;
        outline: none; }
      .inputWrapper .passwordInput .passwordInputInner .toggleEye {
        width: 5%;
        display: flex;
        align-items: center;
        background: white;
        border-left: 0;
        border-radius: 4px;
        border-bottom: 2px solid #d2d2d2; }
        .inputWrapper .passwordInput .passwordInputInner .toggleEye svg {
          margin-left: auto; }
        .inputWrapper .passwordInput .passwordInputInner .toggleEye svg:hover {
          cursor: pointer; }
  .inputWrapper P {
    font-size: .7rem;
    color: red; }

.loginWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  /* Negative half of height. */
  margin-left: -205px;
  /* Negative half of width. */ }
  .loginWrapper .loginContainer {
    width: 25rem;
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .loginWrapper .loginContainer .logoWrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 6rem; }
      .loginWrapper .loginContainer .logoWrapper img {
        width: 100%; }
      .loginWrapper .loginContainer .logoWrapper span {
        color: var(--main-color);
        font-size: 3.5rem;
        font-family: 'Pacifico', cursive; }
    .loginWrapper .loginContainer .personalInputWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem; }
      .loginWrapper .loginContainer .personalInputWrapper input {
        margin-bottom: 1rem;
        padding: 1rem;
        outline: none;
        border: none; }
      .loginWrapper .loginContainer .personalInputWrapper .employeeInput {
        border: 1px solid var(--main-color);
        border-radius: 4px; }
      .loginWrapper .loginContainer .personalInputWrapper .passwordInput {
        border: 1px solid var(--main-color);
        display: flex;
        border-radius: 4px; }
        .loginWrapper .loginContainer .personalInputWrapper .passwordInput input {
          border-radius: 4px;
          width: 87%;
          margin-bottom: 0;
          border-right: 0;
          padding-right: 0;
          outline: none; }
        .loginWrapper .loginContainer .personalInputWrapper .passwordInput .toggleEye {
          width: 13%;
          display: flex;
          align-items: center;
          background: white;
          border-left: 0;
          border-radius: 4px; }
          .loginWrapper .loginContainer .personalInputWrapper .passwordInput .toggleEye svg:hover {
            cursor: pointer; }
      .loginWrapper .loginContainer .personalInputWrapper .companyInfo {
        width: 100%;
        margin-top: 1rem; }
        .loginWrapper .loginContainer .personalInputWrapper .companyInfo .companySelect .company__control {
          border-color: var(--main-color); }
        .loginWrapper .loginContainer .personalInputWrapper .companyInfo .companySelect .company__menu {
          border-color: var(--main-color); }
        .loginWrapper .loginContainer .personalInputWrapper .companyInfo .companySelect .company__input input {
          margin-bottom: 0;
          margin-top: .5rem;
          margin-bottom: .5rem; }
    .loginWrapper .loginContainer .loginButton {
      margin-top: 2rem;
      padding: .8rem 1.3rem;
      background: var(--main-color);
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      border: none; }
    .loginWrapper .loginContainer .loginButton:hover {
      cursor: pointer; }

.Unauthorized-Container {
  width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 300px; }
  .Unauthorized-Container h1 {
    margin: 0; }
  .Unauthorized-Container p {
    margin: .7rem 0 2rem 0; }
  .Unauthorized-Container a {
    font-size: 1.5rem;
    color: var(--text-color); }

.signUpWrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem; }
  .signUpWrapper h1 {
    text-align: center; }
  .signUpWrapper h5 {
    margin: 0;
    color: black; }
  .signUpWrapper .signUpContainer {
    background: white;
    padding: 2rem 2rem; }
    .signUpWrapper .signUpContainer .registerButtons {
      margin-top: 3rem; }
      .signUpWrapper .signUpContainer .registerButtons button {
        border: none;
        padding: .5rem 2.5rem;
        border-radius: 4px;
        font-size: 1rem;
        border: 2px solid var(--main-color); }
      .signUpWrapper .signUpContainer .registerButtons button:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transform: scale(1.05); }
      .signUpWrapper .signUpContainer .registerButtons .register {
        background: var(--main-color);
        color: white; }
      .signUpWrapper .signUpContainer .registerButtons .cancel {
        margin-left: 1rem;
        background: white;
        color: var(--main-color); }
