@import url("https://fonts.googleapis.com/css?family=Pacifico");
.loginWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  /* Negative half of height. */
  margin-left: -205px;
  /* Negative half of width. */ }
  .loginWrapper .loginContainer {
    width: 25rem;
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .loginWrapper .loginContainer .logoWrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 6rem; }
      .loginWrapper .loginContainer .logoWrapper img {
        width: 100%; }
      .loginWrapper .loginContainer .logoWrapper span {
        color: var(--main-color);
        font-size: 3.5rem;
        font-family: 'Pacifico', cursive; }
    .loginWrapper .loginContainer .inputWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem; }
      .loginWrapper .loginContainer .inputWrapper input {
        border: 1px solid var(--main-color);
        margin-bottom: 1rem;
        padding: 1rem;
        outline: none; }
      .loginWrapper .loginContainer .inputWrapper .passwordInput {
        display: flex; }
        .loginWrapper .loginContainer .inputWrapper .passwordInput input {
          width: 87%;
          margin-bottom: 0;
          border-right: 0;
          padding-right: 0;
          outline: none; }
        .loginWrapper .loginContainer .inputWrapper .passwordInput .toggleEye {
          width: 13%;
          display: flex;
          align-items: center;
          border: 1px solid var(--main-color);
          background: white;
          border-left: 0; }
          .loginWrapper .loginContainer .inputWrapper .passwordInput .toggleEye svg:hover {
            cursor: pointer; }
    .loginWrapper .loginContainer .loginButton {
      margin-top: 2rem;
      padding: .8rem 1.3rem;
      background: var(--main-color);
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      border: none; }
    .loginWrapper .loginContainer .loginButton:hover {
      cursor: pointer; }
