@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
    text-align: center;
}

h5 {
    margin: 0;
    color: black;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 30px;
    margin-left: -8px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.popupWrapper {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 5000;
}

.inputWrapper {
           
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 9px;
    padding: 3rem;
    border: 4px solid #60B0F4;
    width: 30rem;

    h2 {
        margin-top: 0;
        color: var(--main-color);
        background: none;
    }
    
    label {
        margin-top: 1.8rem;
        font-size: .7rem;
        margin-bottom: .7rem;
    }

    input {
        border: none;
        outline: none;
        color: rgb(51, 51, 51);
        border-bottom: 2px solid rgb(210, 210, 210);
        font-size: 1.1rem;
        margin-bottom: .2rem;
    }

    input:focus {
        border-bottom: 2px solid var(--main-color);
    }

    .passwordInput {
        display: flex;
        flex-direction: column;
        h2 {
            padding: 0;
        }
        .passwordInputInner {
            display: flex;
            input {
                width: 95%;
                margin-bottom: 0;
                border-right: 0;
                padding-right: 0;
                outline:none;
                
            }
            .toggleEye {
                width: 5%;
                display: flex;
                align-items: center;
                background: white;
                border-left: 0;
                border-radius: 4px;
                border-bottom: 2px solid rgb(210, 210, 210);
                svg {
                    margin-left: auto;
                }

                svg:hover {
                    cursor: pointer;
                }
            }

        }
        
    }
    P {
        font-size: .7rem;
        color: red;
    }
    
}

.register {
    border: none;
    width: auto;
    padding: 0;
}


.loginWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px; /* Negative half of height. */
    margin-left: -205px; /* Negative half of width. */
    .loginContainer {
        width: 25rem;
        background: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logoWrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 6rem;
            img {
                width: 100%;
            }
            span {
                color: var(--main-color);
                font-size: 3.5rem;
                font-family: 'Pacifico', cursive;
            }
        }

        .personalInputWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            input {
                margin-bottom: 1rem;
                padding: 1rem;
                outline: none;
                border: none;
                
            }

            .employeeInput {
                border: 1px solid var(--main-color);
                border-radius: 4px;
            }

            .passwordInput {
                border: 1px solid var(--main-color);
                display: flex;
                border-radius: 4px;
                input {
                    border-radius: 4px;
                    width: 87%;
                    margin-bottom: 0;
                    border-right: 0;
                    padding-right: 0;
                    outline:none;
                    
                }
                .toggleEye {
                    width: 13%;
                    display: flex;
                    align-items: center;
                    background: white;
                    border-left: 0;
                    border-radius: 4px;

                    svg:hover {
                        cursor: pointer;
                    }
                }
            }

        }

        P {
            margin-top: 1rem;
            font-size: .7rem;
            color: red;
        }

        .loginButton {
            width: 100px;
            margin-top: 2rem;
            padding: .8rem 1.3rem;
            background: var(--main-color);
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            border: none;
            display: flex;
            justify-content: center;
            .lds-ring {
                margin-top: -10px;
            }
        }

        .loginButton:hover {
            background: rgb(43, 126, 199);
            cursor: pointer;
        }
    }
}

.Unauthorized-Container {
    width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 300px;

    h1 {
        margin: 0;
    }

    p {
        margin: .7rem 0 2rem 0;
    }
    
    a {
        font-size: 1.5rem;
        color: var(--text-color);
    }
}

.signUpWrapper {
    width: 720px;
    margin: 0 auto;
    margin-top: 2rem;
    h1 {
        text-align: center;
    }

    h5 {
        margin: 0;
        color: black;
    }
    .signUpContainer {
        background: white;
        padding: 2rem 2rem;
        
        .registerButtons {
            margin-top: 3rem;
            button {
                border: none;
                padding: .5rem 2.5rem;
                border-radius: 4px;
                font-size: 1rem;
                border: 2px solid var(--main-color);
            }

            button:hover {
                cursor:pointer;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                transform: scale(1.05);
            }

            .register {
                background: var(--main-color);
                color: white;
            }

            .cancel {
                margin-left: 1rem;
                background: white;
                color: var(--main-color);
            }
        }
    }
}