.request-list-wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    border-bottom: .5rem solid #C5C5C5;  

    
    
    .request-creator-wrapper {
        position: fixed;
        width: 500px;
        top: 50%;
        left: 50%;
        margin-top: -200px; /* Negative half of height. */
        margin-left: -250px; /* Negative half of width. */
        background: white;
        border-radius: 9px;
        padding: 3rem;
        border: 3px solid #60B0F4;
        z-index: 3;

        h2 {
            margin-top: 0;
            color: var(--main-color);
        }
        .creator-content {
            width: 100%;
            
            textarea {
                width: 100%;
                resize: none;
                padding: .5rem;
                margin-bottom: 1rem;
                outline: none;
                border-color: var(--main-color);
            }

            .radioSelect {
                display: flex;
                justify-content: space-between;
            }

            .container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;

                font-size: 1.2rem;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                span:hover {
                    cursor: pointer;
                }
            }

                /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                }

                /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 4px;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #eee;
                border: 1px solid var(--main-color);
            }

                /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
                background-color: #ccc;
            }

                /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color: #2196F3;
            }

                /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

                /* Show the checkmark when checked */
            .container input:checked ~ .checkmark:after {
                display: block;
            }

                /* Style the checkmark/indicator */
            .container .checkmark:after {
                left: 6.3px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .myselect {
                position: relative;
                display: inline-block;
              }
              ::-moz-selection {
                background: #AFAFAF;
              }
              ::-webkit-selection {
                background: #AFAFAF;
              }
              ::selection {
                background: #AFAFAF;
              }
              .myselect select {
                height: 30px;
                border-color: var(--main-color);
                padding: 0 10px 0 2px;
                outline: none;
                font-weight: bold;
                color: var(--text-color);

                option {
                    border-color: var(--main-color);
                    font-weight: bold;
                    outline: none;
                }

                
              }

              .myselect select:hover {
                cursor: pointer;
              }

              .myselect::after {
                content: '';
                position: absolute;
                right: 4px;
                top: 11px;
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 8px solid var(--main-color);
                pointer-events: none;
              }
        }

        .creator-buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;
            

            button:hover {
                cursor: pointer;
            }

            .green {
                background: #77EE62;
                border: 1px solid #71E05D;
            }

            .green:hover {
                background: #71E05D;
            }

            .red {
                background: #F04B4B;
                border: 3px solid #E73D3D;
            }

            .red:hover {
                background: #E73D3D;
            }

            button {
                border: none;
                color: white;
                padding: .5rem 1rem;
                margin-left: 1rem;
                font-weight: bold;
                font-size: 1rem;
                outline: none;
            }
        }
    }
    .header {
        background: #60B0F4;
        padding: 2.5rem 0;
        color: white;
        text-align: center;
        border-bottom: .5rem solid #C5C5C5;
        position: relative;
        h1 {
            margin: 0;
        }
        .addButton {
            position: absolute;
            right: 40px;
            top: 25px;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 24px;
            border: 2px solid white;
            padding: 1rem;
            color: white;
            background: #77EE62;
            display: flex;
            align-items: center;

            .createPlus {
                font-size: 2rem;
                margin-right: .4rem;
                height: 24px;
                margin-top: -24px;
            }     
        }

        .addButton:hover {
            cursor: pointer;
            background: #71E05D;
        }
        
        .none {
            display: none;
        }
    }
    .list-content {
        min-height: 435px;
        background: white;

        .request-confirmation-wrapper {
            position: fixed;
            width: 500px;
            top: 50%;
            left: 50%;
            margin-top: -200px; /* Negative half of height. */
            margin-left: -250px; /* Negative half of width. */
            background: white;
            border-radius: 9px;
            padding: 2rem;
            border: 3px solid #60B0F4;
            z-index: 3;
            .confirmation-info {
                text-align: center;
                h2 {
                    font-size: 1.3rem;
                    margin-top: 0;
                }
            }  
            
            .confirmation-buttons {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                .green {
                    background: #77EE62;
                    border: 1px solid #71E05D;
                }
    
                .green:hover {
                    background: #71E05D;
                }
    
                .red {
                    background: #F04B4B;
                    border: 3px solid #E73D3D;
                }
    
                .red:hover {
                    background: #E73D3D;
                }
                button {
                    border: none;
                    color: white;
                    padding: .5rem 1rem;
                    margin-left: 1rem;
                    font-weight: bold;
                    font-size: 1rem;
                    outline: none;
                }
            }
        }
        .urgent-item {
            display: flex;
            font-weight: bold;
            padding: 1rem 0 0 1.5rem;
            margin-bottom: -10px;
            .urgent-color {
                border-radius: 24px;
                background: red;
                color: white;
                width: 6rem;
                text-align: center;
                font-size: 1rem;

            }
        }
        .request-wrapper {
            background: white;
            padding: 2rem;
            display: flex;
            border-bottom: 1px solid #C5C5C5;
            p {
                margin: 0;
            }
            .user-image {
                width: 5.5rem;
                height: 5.5rem;
                margin-right: 1rem;
                img {
                    height: 100%;
                }
            }
            .request-content {
                display: flex;
                flex-direction: column;
                span {
                    font-weight: bold;
                }
            }

            .request-buttons {
                
                margin-left: auto;

                button {
                    margin-left: .8rem;
                    background: #60B0F4;
                    border: none;
                    color: white;
                    padding: 1rem 2rem;
                    font-size: 1.2rem;
                    outline:none;
                }

                button:hover {
                    cursor: pointer;
                    background: rgb(43, 126, 199);
                }

                .cancelbutton {
                    background: #F04B4B;
                }

                .cancelbutton:hover {
                    background: #E73D3D;
                }
            }
        }
    }
}