.buffer {
    padding-top: 8rem;
}

.Settings-Container {
    width: 1000px;
    margin: 0 auto;

    h2 {
        background: var(--main-color);
        color: white;
        padding: 2rem 2rem;
        font-size: 2rem;
    }

    .Settings-Content {
        background: white;
        padding: 2rem 2rem;

        .Reset-Password {           
            display: flex;
            flex-direction: column;
            width: 400px;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    font-size: .7rem;
                    
                }
                
                input {
                    border-radius: 4px;
                    outline: none;
                    border: 1px solid var(--text-color);
                    padding: .8rem .5rem;
                    margin-bottom: .8rem;
                }

                .Reset-Button {
                    width: 30%;
                    font-size: 1rem;
                    margin-top: 1rem;
                    padding: .8rem 0;
                    color: white;
                    font-weight: bold;
                    background: #77EE62;
                    border: none;
                    border-radius: 0;
                }

                .Reset-Button:hover {
                    background: #71E05D;
                    cursor: pointer;                   
                }
            }
        }
    }
}