.buffer {
  padding-top: 8rem; }

.Settings-Container {
  width: 1000px;
  margin: 0 auto; }

.Settings-Container h2 {
  background: var(--main-color);
  color: white;
  padding: 2rem 2rem;
  font-size: 2rem; }

.Settings-Container .Settings-Content {
  background: white;
  padding: 2rem 2rem; }

.Reset-Password {
  display: flex;
  flex-direction: column;
  width: 400px; }

.Reset-Password h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.Reset-Password form {
  display: flex;
  flex-direction: column; }

.Reset-Password form label {
  font-size: .7rem;
  margin-top: .8rem; }

.Reset-Password form input {
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--text-color);
  padding: .8rem .5rem; }

.Reset-Password form p {
  font-size: .8rem;
  color: red; }

.Reset-Password form .Reset-Button {
  width: 30%;
  font-size: 1rem;
  margin-top: 1rem;
  padding: .8rem 0;
  color: white;
  font-weight: bold;
  background: #77EE62;
  border: none;
  border-radius: 0;
  text-align: center; }

.Reset-Password form .Reset-Button:hover {
  background: #71E05D;
  cursor: pointer; }
