ul {
    margin: 0;
}

.buffer-convo {
    padding-top: 7rem;

    .Form {
        display: flex;
        background: white;
        border: 2px solid var(--main-color);
        flex-direction: column;
        padding: 2rem;
        margin-top: -10rem;

        input {
            font-size: 1rem;
            width: 100%;
            padding: .5rem .5rem;
            border: none;
            border-bottom: 1px solid var(--main-color);
            outline: none;
        }

        input:focus {
            border-bottom: 3px solid var(--main-color);
        }

        h2 {
            padding-bottom: 1rem;
        }

        .confirmation-buttons {
            margin-top: 2rem;
            .green{
                margin-left: 0;
            }
        }
    }

    .RoomForm {
        align-items: center;
    }

    .UserForm {
        width: 500px;

        

        .email {
            display: flex;
            margin-top: 1rem;
            background: var(--border-color);
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, -5.9);
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            .emailContent {
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .emailRemove {
                padding: 0 .5rem;
                margin-top: 5px;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }

                .remove {
                    color: #F04B4B;
                    
                }

                .remove:hover {
                    color: #E73D3D;
                    cursor: pointer;
                }
            }
        }

        .email:hover {
            transform: scale(1.05);
        }
        
    }
}

.emailIssue {
    p{
        color: #F04B4B;
        font-size: .9rem;
    }
    
}

.Conversation-Container {
    width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    display: flex;
    white-space: pre-line;
    border: 1px solid var(--main-color);
    h3 {
        margin: 0 0 0 1rem;
        font-size: 1.6rem;
    }

    p {
        margin: 0;
    }

    

    .RoomList {
        width: 20%;
        background: var(--main-color);
        color: white;      
        padding-top: 1rem;
        border-radius: 10px 0 0 10px;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.3rem;
        }

        button {
            background: white;
            font-size: 1.3rem;
            color: var(--main-color);
            border: none;
            border-radius: 10px;
            padding: 1rem 1rem;
            margin: 1rem 0 1rem 1rem;
        }

        button:hover {
            transform: scale(1.05);
            cursor: pointer;
            box-shadow: 0 0 10px rgb(165, 194, 224);
        }

        ul {
            padding: 0;
        }

        .Room {
            padding: .2rem 0 .2rem 1rem;
        }

        .Room:hover {
            background: white;
            cursor: pointer;
            a {
                color: var(--main-color);
            }
        }
        
    }
    .ConversationListContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
    
        .Header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem;
            border-bottom: 1px solid #eee;
            p {
                font-weight: bold;
            }
            .HeaderButtons {
                display: flex;

                svg {
                    height: 2rem;
                    width: 2rem;
                    color: var(--main-color);
                    
                }

                svg:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

                .signOut-wrapper {
                    margin-left: 1.5rem;
                    
                }
                
            }
        }

        div::-webkit-scrollbar {
            width: .5em;
        }

        div::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        
        div::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }

        .MessageListContainer {
            height: 40rem;
            overflow: auto;
            padding: 0 1rem;

            .MessageList {
                .JoinRoom {
                    font-size: 2rem;
                    padding-top: 2rem;
                    font-weight: bold;
                }

                .Message {
                    padding-top: 1rem;
                    .messageHeader {
                        font-weight: bold;
                    }   

                    .messageContent {
                        margin: .5rem 0 0 1rem;
                        background: var(--main-color);
                        color: white;
                        padding: .5rem 1rem;
                        display: inline-block;
                        border-radius: 12px;
                    }
                }
            }         
        }
        
        .MessageForm {
            display: flex;
            justify-content: center;
            border-top: 1px solid #eee;
            padding: 1rem 0;
            textarea {
                width: 90%;
                background: #eee;
                resize:none;
                outline-color: var(--main-color);
                padding: .4rem .4rem;
                border-radius: 5px;
            }      
            
            textarea:focus {
                background: #f5f5f5;
                box-shadow: 0 0 10px #719ECE;
            }

           

            
        }
    }

}


