ul {
    margin: 0;
}

.buffer-convo {
    padding-top: 10rem;
}

.Conversation-Container {
    width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    display: flex;
    white-space: pre-line;
    h3 {
        margin: 0 0 0 1rem;
        font-size: 1.6rem;
    }

    p {
        margin: 0;
    }

    .RoomList {
        width: 20%;
        background: var(--main-color);
        color: white;      
        padding-top: 1rem;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.3rem;
        }

        button {
            background: white;
            font-size: 1.3rem;
            color: var(--main-color);
            border: none;
            border-radius: 10px;
            padding: .5rem .5rem;
            margin: 1rem 0 1rem 1rem;
        }

        ul {
            padding: 0;
        }

        .Room {
            padding: .2rem 0 .2rem 1rem;
        }

        .Room:hover {
            background: white;
            cursor: pointer;
            a {
                color: var(--main-color);
            }
        }
        
    }
    .ConversationListContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
    
        .Header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem;
            border-bottom: 1px solid #eee;
            p {
                font-weight: bold;
            }
            .HeaderButtons {
                display: flex;

                svg {
                    height: 2rem;
                    width: 2rem;
                    color: var(--main-color);
                    
                }

                svg:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

                .signOut-wrapper {
                    margin-left: 1.5rem;
                    
                }
                
            }
        }

        .MessageListContainer {
            height: 40rem;
            overflow: auto;
            padding-left: 1rem;

            .MessageList {
                &::-webkit-scrollbar {
                    width: 0.5em;
                    height: 0.5em;
                   }
            }
    
            .MessageList::-webkit-scrollbar-thumb {
                background: var(--main-color); 
                border-radius: 5px;
            }
            
            
        }

        

        .MessageForm {
            textarea {
                width: 100%;
                resize:none;
            }       
        }
    }

}


