ul {
  margin: 0; }

.buffer-convo {
  padding-top: 7rem; }

.Conversation-Container {
  width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  display: flex;
  white-space: pre-line;
  border: 1px solid var(--main-color); }

.Conversation-Container h3 {
  margin: 0 0 0 1rem;
  font-size: 1.6rem; }

.Conversation-Container p {
  margin: 0; }

.Conversation-Container .RoomList {
  width: 20%;
  background: var(--main-color);
  color: white;
  padding-top: 1rem;
  border-radius: 10px 0 0 10px; }

.Conversation-Container .RoomList a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem; }

.Conversation-Container .RoomList button {
  background: white;
  font-size: 1.3rem;
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: .5rem .5rem;
  margin: 1rem 0 1rem 1rem; }

.Conversation-Container .RoomList ul {
  padding: 0; }

.Conversation-Container .RoomList .Room {
  padding: .2rem 0 .2rem 1rem; }

.Conversation-Container .RoomList .Room:hover {
  background: white;
  cursor: pointer; }

.Conversation-Container .RoomList .Room:hover a {
  color: var(--main-color); }

.Conversation-Container .ConversationListContainer {
  display: flex;
  flex-direction: column;
  width: 80%; }

.Conversation-Container .ConversationListContainer .Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #eee; }

.Conversation-Container .ConversationListContainer .Header p {
  font-weight: bold; }

.Conversation-Container .ConversationListContainer .Header .HeaderButtons {
  display: flex; }

.Conversation-Container .ConversationListContainer .Header .HeaderButtons svg {
  height: 2rem;
  width: 2rem;
  color: var(--main-color); }

.Conversation-Container .ConversationListContainer .Header .HeaderButtons svg:hover {
  cursor: pointer;
  transform: scale(1.1); }

.Conversation-Container .ConversationListContainer .Header .HeaderButtons .signOut-wrapper {
  margin-left: 1.5rem; }

.Conversation-Container .ConversationListContainer .MessageListContainer {
  height: 40rem;
  overflow: auto;
  padding-left: 1rem; }

.Conversation-Container .ConversationListContainer .MessageListContainer .MessageList::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

.Conversation-Container .ConversationListContainer .MessageListContainer .MessageList::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px; }

.Conversation-Container .ConversationListContainer .MessageForm {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
  padding: 1rem 0; }

.Conversation-Container .ConversationListContainer .MessageForm textarea {
  width: 90%;
  background: #eee;
  resize: none;
  outline-color: var(--main-color);
  padding: .4rem .4rem; }

.Conversation-Container .ConversationListContainer .MessageForm textarea:focus {
  background: #f5f5f5;
  box-shadow: 0 0 10px #719ECE; }
