.employeeContentWrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 8rem;


    .employeeProfileContent {
        width: 100%;
        

        .profileHeader {
            background: var(--main-color);
            color: white;
            padding: 1rem 2rem;
            h2 {
                margin: 0;
            }
        }

        .profileContent {
            display: flex;
            flex-direction: row;
            background: white;
            padding: 1rem 2rem;
            img {
                height: 100%;
                width: 4rem;
            }

            .profileTextContent {
                display: flex;
                align-items: center;
                width: 100%;
                span {
                    margin-left: 2rem;
                    font-weight: bold;
                    font-size: 1rem;
                }

                p {
                    margin: 0;
                    margin-left: .5rem;
                    font-size: 1rem;
                }

                .profileButtons {
                    margin-left:auto;
                    display: flex;
                    align-items: center;
                    button {
                        margin-left: 1.5rem;
                        background: #60B0F4;
                        border: none;
                        color: white;
                        padding: 1rem 2rem;
                        font-size: 1rem;
                    }
    
                    button:hover {
                        cursor: pointer;
                        background: rgb(43, 126, 199);
                    }

                    .trash:hover {
                        color: #4e4e4f;
                        transform: scale(1.1); 
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
        
                    svg:hover {
                        cursor: pointer;
                    }
                }
            }

        }

    }

    .employeeShiftContent { 
        margin-top: 2rem;
        h2 {
            margin: 0;
            font-size: 2rem;
        }

        .shiftListHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--main-color);
            color: white;
            padding: 1rem 2rem;
            .createShift {
                font-size: 1.5rem;
                font-weight: bold;
                border-radius: 24px;
                border: 2px solid white;
                padding: 1rem;
                color: white;
                background: #77EE62;
                display: flex;
                align-items: center;
    
                .createPlus {
                    font-size: 2rem;
                    margin-right: .4rem;
                    height: 24px;
                    margin-top: -24px;
                }     
            }
    
            .createShift:hover {
                cursor: pointer;
                background: #71E05D;
            }
            
        }

        .addShiftWrapper {
            display: flex;
            background: white;
            padding: 1.5rem 5rem;
            p{ 
                margin: 0;
            }

            .shiftDataSelect {
                display: flex;
                margin-right: 1.4rem;
                align-items: center;
                p {
                    margin-right: .5rem;
                    font-weight: bold;
                }
                input {
                    padding: .5rem;
                    
                }
            }

            .Time {
                input {
                    width: 90px;
                    text-align:center;
                }
            }

            .Date{
                input {
                    width: 90px;
                    text-align:center;
                }
            }

            .react-datepicker-wrapper {
                .react-datepicker-popper {
                    .react-datepicker--time-only {
                        .react-datepicker__time-container {
                            width: 110px !important;
                        }
                        .react-datepicker__time-box {
                            width: 100px !important;
                        }
                    }                   
                }              
            }

            .addShiftButtons {
                margin-left: auto;
                display: flex;
                justify-content: flex-end;
                .green {
                    background: #77EE62;
                    border: 1px solid #71E05D;
                }
    
                .green:hover {
                    background: #71E05D;
                    cursor: pointer;
                }
    
                .red {
                    background: #F04B4B;
                    border: 3px solid #E73D3D;
                }
    
                .red:hover {
                    background: #E73D3D;
                    cursor: pointer;
                }
    
                button {
                    border: none;
                    color: white;
                    padding: .5rem 1rem;
                    margin-left: 1rem;
                    font-weight: bold;
                    font-size: 1rem;
                    outline: none;
                }
            }
        }

        .shiftListContent {
            background: white;
            margin-bottom: 5rem;
            min-height: 40rem;
            border-bottom: 1rem solid var(--main-color);

            p {
                margin: 0;
            }

            input {
                width: 90px;
                text-align:center;
                padding: .5rem;
                margin: 0 1rem 0 .7rem
            }

            .react-datepicker-wrapper {
                
                .react-datepicker-popper {
                    .react-datepicker--time-only {
                            div {
                                width: 110px !important;
                            }
                            
                        .react-datepicker__time-box {
                            width: 100px !important;
                        }
                    }                   
                }              
            }

            .shiftRow {
                display: flex;
                padding: 1rem 2rem 1rem 0rem;
                align-items: center;

                span {
                    font-weight: bold;
                    font-size: 1.3rem;
                    margin-left: 1rem;
                }

                p {
                    font-size: 1.1rem;
                    margin: 0 1rem 0 .7rem
                }

                svg {
                    height: 1.3rem;
                    width: 1.3rem;
                    color: white;
                    padding-top: .2rem;
                }


                .num {
                    margin: 0;
                    padding: 0 2rem;
                    border-right: 3px solid var(--main-color);
                    font-weight: bold;
                }

                .shiftRowIcons {
                    display: flex;
                    margin-left: auto;

                    div {
                        padding: .3rem .4rem;
                        margin-left: .5rem;
                    }
    
                    div:hover {
                        cursor: pointer;
                    }
                    
                    .edit {
                        background: var(--main-color);
                    }

                    .trash {
                        background: #F04B4B;
                    }

                    .check {
                        background:#77EE62;
                    }

                    .cancel {
                        background: #F04B4B;
                    }
                }
            }
        }
    }
}