.employeeContentWrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;


    .employeeProfileContent {
        width: 100%;


        .profileHeader {
            background: var(--main-color);
            color: white;
            padding: 1rem 2rem;
            h2 {
                margin: 0;
            }
        }

        .profileContent {
            display: flex;
            flex-direction: row;
            background: white;
            padding: 1rem 2rem;
            img {
                height: 100%;
                width: 4rem;
            }

            .profileTextContent {
                display: flex;
                align-items: center;
                width: 100%;
                span {
                    margin-left: 2rem;
                    font-weight: bold;
                    font-size: 1rem;
                }

                p {
                    margin: 0;
                    margin-left: .5rem;
                    font-size: 1rem;
                }

                .profileButtons {
                    margin-left:auto;
                    display: flex;
                    align-items: center;
                    button {
                        margin-left: 1.5rem;
                        background: #60B0F4;
                        border: none;
                        color: white;
                        padding: 1rem 2rem;
                        font-size: 1rem;
                    }
    
                    button:hover {
                        cursor: pointer;
                        background: rgb(43, 126, 199);
                    }

                    .trash:hover {
                        color: #4e4e4f;
                        transform: scale(1.1); 
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
        
                    svg:hover {
                        cursor: pointer;
                    }
                }
            }

        }

    }

    .employeeShiftContent { 
        margin-top: 2rem;
        h2 {
            margin: 0;
            font-size: 2rem;
        }

        .shiftListHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--main-color);
            color: white;
            padding: 1rem 2rem;
            .createShift {
                font-size: 1.5rem;
                font-weight: bold;
                border-radius: 24px;
                border: 2px solid white;
                padding: 1rem;
                color: white;
                background: #77EE62;
                display: flex;
                align-items: center;
    
                .createPlus {
                    font-size: 2rem;
                    margin-right: .4rem;
                    height: 24px;
                    margin-top: -24px;
                }     
            }
    
            .createShift:hover {
                cursor: pointer;
                background: #71E05D;
            }
            
        }

        .addShiftWrapper {
            display: flex;
            background: white;
            padding: 1.5rem 5rem;
            p{ 
                margin: 0;
            }

            .shiftDataSelect {
                display: flex;
                margin-right: 1.4rem;
                align-items: center;
                p {
                    margin-right: .5rem;
                    font-weight: bold;
                }
                input {
                    padding: .5rem;
                    
                }
            }

            .Time {
                input {
                    width: 90px;
                    text-align:center;
                }
            }

            .Date{
                input {
                    width: 90px;
                    text-align:center;
                }
            }

            .react-datepicker-wrapper {
                .react-datepicker-popper {
                    .react-datepicker--time-only {
                        .react-datepicker__time-container {
                            width: 110px !important;
                        }
                        .react-datepicker__time-box {
                            width: 100px !important;
                        }
                    }                   
                }              
            }

            .addShiftButtons {
                margin-left: auto;
                display: flex;
                justify-content: flex-end;
                .green {
                    background: #77EE62;
                    border: 1px solid #71E05D;
                }
    
                .green:hover {
                    background: #71E05D;
                    cursor: pointer;
                }
    
                .red {
                    background: #F04B4B;
                    border: 3px solid #E73D3D;
                }
    
                .red:hover {
                    background: #E73D3D;
                    cursor: pointer;
                }
    
                button {
                    border: none;
                    color: white;
                    padding: .5rem 1rem;
                    margin-left: 1rem;
                    font-weight: bold;
                    font-size: 1rem;
                    outline: none;
                }
            }
        }
    }
}